//Colors scheme
//color scheme one
$white: #FFF;
$plattinium: #E6E7E7;
$light-gray: #D1D1D1;
 
//color scheme two
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCDA;

//color scheme three
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

//typography
$roboto: 'Roboto', sans-serif;
$playfair:'Playfair Display', serif;

//FONTS SIZES
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//FONTS WEIGHT
$light: 300;
$regular: 400;
$black-italic: 900;
